.tasks{
    display: flex;
    padding-bottom: 40px;
}

/* .form {
    display: inline;
} */
.h4{
    padding-right: 10%;
    width: 305px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
        margin-left: 64px;
    
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    
}

.button {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    /* border-radius: 5px; */
    box-shadow: 0 0 0 1px #ddd inset,
    0 1px 1px #fff;
    font-weight: 24;
}

.button:hover:not(:active) {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset,
    0 1px 1px #aaa;
}

.button:active {
    background: none;
    box-shadow: 0 0 0 1px #bbb inset,
    0 1px 3px rgba(0, 0, 0, .5) inset,
    0 1px 2px #fff;
}


div {
    width: 300px;
}

label {
    display: block;
    margin-left: 18px;
}

label input[type='checkbox'] {
    margin-left: -18px;
}

.check-group {
    /* делаем группе отдельный фон */
    background: #fff;
    /* ограничиваем ширину блока, чтобы он не расползался */
    /* max-width: 13rem; */
    /* добавляем отступы */
    padding: 1.5rem;
    /* делаем красивое скругление и тень */
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
    /* сразу добавляем два счётчика, они понадобятся для подсчёта выбранных элементов */
    counter-reset: total;
    counter-reset: checked;
        margin-left: 64px;
        
        
}

/* делаем отступы внутри группы */
.check-group>*+* {
    margin-top: 0.75rem;
}

/* подсчитываем количество всех чекбоксов */
.check-group .checkbox {
    counter-increment: total;
}

/* считаем только отмеченные галочки */
.check-group input[type=checkbox]:checked {
    counter-increment: checked;
}

/* настраиваем внешний вид строки с результатом */
.check-group__result {
    /* делаем жирный шрифт */
    font-weight: bold;
    /* немного отступаем сверху */
    padding-top: 0.75rem;
    /* рисуем тонкую линию над текстом */
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
}

/* обрабатываем результаты */
.check-group__result:after {
    /* добавляем строку со значениями счётчиков */
    /* content: counter(checked) " / "counter(total); */
    content: counter(checked);
    /* добавляем отступ слева */
    padding-left: 1ch;
}